*.[oda]
/.settings/
/games/
/install*/
/.vscode/
/.idea/
/.cache/
/.clang*
/compile_commands.json
/build*/
/untracked*/
CMakeUserPresets.json
/cmake/gamepacks/user.cmake
/cmake/gamepacks/user/
/doxygen-out/
